*.swp
Canvas-Indexer
JSONkeeper
Frontend/IIIFCurationViewer
Frontend/IIIFCurationFinder
Frontend/IIIFCurationManager
Frontend/IIIFCurationEditor
Frontend/IIIFCurationPlayer
setup/jk/firebase-adminsdk.json
setup/cv/authFirebase.js
setup/cf/authFirebase.js
setup/cm/authFirebase.js
setup/ce/authFirebase.js
docker-compose.yml
proj_name
