version: '2'

services:
  jsonkeeper:
    build: ./JSONkeeper
    ports:
      - 'jkport:8000'
    volumes:
      - ./JSONkeeper/config.ini:/jsonkeeper/config.ini

  canvasindexer:
    build: ./Canvas-Indexer
    ports:
      - 'ciport:8000'
    volumes:
      - ./Canvas-Indexer/config.ini:/canvasindexer/config.ini
      - ./Canvas-Indexer/log.txt:/canvasindexer/log.txt

  curationfinder:
    build: ./IIIFCurationFinder
    ports:
      - 'cfport:80'

  curationviewer:
    build: ./IIIFCurationViewer
    ports:
      - 'cvport:80'

  curationmanager:
    build: ./IIIFCurationManager
    ports:
      - 'cmport:80'

  curationeditor:
    build: ./IIIFCurationEditor
    ports:
      - 'ceport:80'

  loris:
    image: 'lorisimageserver/loris'
    ports:
      - 'lport:5004'
    volumes:
      - ./loris/images:/opt/loris/tests/img
